<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubica.docshare"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ubica.docshare.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ubica.docshare.GetDocumentActivity"
            android:label="@string/title_activity_get_document"
            android:parentActivityName="com.ubica.drdoc.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubica.drdoc.MainActivity" />
        </activity>
        <activity
            android:name="com.ubica.docshare.AddFolderActivity"
            android:label="@string/title_activity_add_folder"
            android:parentActivityName="com.ubica.drdoc.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubica.drdoc.MainActivity" />
        </activity>
        <activity
            android:name="com.ubica.docshare.GetFolderActivity"
            android:label="@string/title_activity_get_folder"
            android:parentActivityName="com.ubica.docshare.AddFolderActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubica.docshare.AddFolderActivity" />
        </activity>
        <activity
            android:name="com.ubica.docshare.DisplayActivity"
            android:label="@string/title_activity_display"
            android:parentActivityName="com.ubica.docshare.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ubica.docshare.MainActivity" />
        </activity>
    </application>

</manifest>
